<!DOCTYPE html>
<html>
  <head>
    <title>Connec8</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <% if flash[:notice ]%>
    <p class='notice alert alert-success'><%= notice %></p>
    <% end %>
    <% if flash[:error]%>
      <p class='notice alert alert-danger'><%= flash[:error] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class='notice alert alert-danger'><%= flash[:alert] %></p>
    <% end %>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
